@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Caveat:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font: roboto, sans-serif;
    --col0: #26425e;
    --col1: #a6ccf2;
    --col2: #5b8fc4;
    --col3: #6977a7;
    --col4: #7a6a9d;
    --col5: #8c5e94;
    --col6: #9d528a;
    --hovered_col_nav : rgb(8, 107, 110);
    --col_nav : rgb(66, 249, 255);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--font);
}

body {
    background-repeat: no-repeat;
    background-color: var(--col1);
}

header {
    padding: 10px;
    background-color: var(--col0);
}

main {
    background-image: linear-gradient(45deg, var(--col2), var(--col4));
    padding: 10px;
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.567);
}

.nav_butt {
    background-color: var(--col_nav);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border-width: 0px;
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    width: 130px;
    transition: color 1.0s;
    transition: background-color 1.0s;
}

.nav_butt:hover {
    background-color: var(--hovered_col_nav);
    color: white;
}

p#label_for_nav {
    color: white;
    text-align: left;
    font-size: 0.8em;
}

h1#main_title {
    color: white;
    font-size: 3em;
}

table {
    width: 100%;
}

table td {
    width: 33%;
}